<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/screen.css">
</head>

<body>

    <section class="contact" id="contact">

        <h1 class="heading">
            <span>f</span>
            <span>e</span>
            <span>e</span>
            <span>d</span>
            <span>b</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
        </h1>

        <div class="row">
            <div class="image">
                <img src="/assets/contact.jpg" alt="">
            </div>

            <form  action="/feedback", method="post">
                <div class="inputBox">
                    <input type="text" name="name" placeholder="name">
                    <input  name="phone" placeholder="phone">
                </div>

                <textarea placeholder="message" name="message" id="" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-primary">Send Message</button>

            </form>
  
        </div>

            <hr>
            <h2>Feedbacks</h2>
            <hr>
            <div class="booking-container">
                <% if (feedbacks.length > 0) { %>
                    <% feedbacks.forEach((feedback) => { %>
                        <div class="booking-item">
                            <div class="booking-details">
                                <div class="booking-email" id="trip">
                                    <h4>Name:</h4>
                                   <h6><%=feedback.name %> </h6> 
                                </div>
                                <div class="booking-info">
                                    <div class="fromto" id="trip">
                                        <h4>Phone:</h4>
                                      <h6><%= feedback.phone %> </h6>
                                    </div>
                                    <div class="whereto" id="trip">
                                        <h4>Message:</h4>
                                        <h6><%= feedback.message %></h6>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-feedback">No Feedback.</p>
                <% } %>
            </div>
            

    </section>


    
<script src="/scripts/script.js"></script>

</body>
</html>