<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>

    <header>
        
        <div id="menu-bar" class="fas fa-bars"></div>
        <a href="#" class="logo"><span>T</span>ravel</a>

        <nav class="navbar">
            <a href="../home">home</a>
            <a href="../book">book</a>
            <a href="../packages">packages</a>
            <a href="../services">services</a>
            <a href="../contact">feedback</a>
        </nav>

        <div class="icons">  
            <i class="fas fa-search" id="search-btn"></i>
          
        </div>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="Search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form>

    </header>
 
</body>
</html>
