<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/screen.css">
</head>

<body>

    <section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">
            
            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>affordable hotels</h3>
                <p>Discover comfort without breaking the bank—our selection of affordable hotels offers budget-friendly stays without compromising on quality, ensuring a delightful travel experience within your means</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Savor a culinary journey through our diverse array of flavors, from tantalizing dishes to refreshing beverages, crafted to delight every palate and satisfy every craving</p>
            </div>

            
            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>safety guide</h3>
                <p>Empowering your peace of mind, our safety guide navigates your journey with essential tips and measures, ensuring a secure and worry-free travel experience wherever you roam</p>
            </div>

            
            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>around the world</h3>
                <p>Embark on a global odyssey, where cultures converge and landscapes unfold, inviting you to explore the marvels and mysteries scattered across our wondrous planet</p>
            </div>

            
            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>fastest travel</h3>
                <p>Swiftly traverse the globe with our expedited travel solutions, minimizing transit time and maximizing your moments to explore, ensuring a rapid yet fulfilling journey to your destination</p>
            </div>

            
            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>adventures</h3>
                <p>Dive into thrilling escapades, where every step is a tale, and each moment an exhilarating journey, as adventures beckon and memories unfold in the heart of exploration</p>
            </div>

        </div>

    </section>


    
<script src="/scripts/script.js"></script>

</body>
</html>