<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/screen.css">
</head>

<body>

    <section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">
            
            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>affordable hotels</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quae placeat velit harum similique dolorum nam aut neque molestias id. Suscipit fugit ullam reiciendis autem ipsum assumenda sapiente magnam dignissimos!</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nesciunt doloribus accusantium fuga sequi libero magnam magni fugiat voluptate distinctio expedita, ex accusamus nostrum modi, suscipit tenetur. Enim, error iste.</p>
            </div>

            
            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>safety guide</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nesciunt doloribus accusantium fuga sequi libero magnam magni fugiat voluptate distinctio expedita, ex accusamus nostrum modi, suscipit tenetur. Enim, error iste.</p>
            </div>

            
            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>around the world</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nesciunt doloribus accusantium fuga sequi libero magnam magni fugiat voluptate distinctio expedita, ex accusamus nostrum modi, suscipit tenetur. Enim, error iste.</p>
            </div>

            
            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>fastest travel</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nesciunt doloribus accusantium fuga sequi libero magnam magni fugiat voluptate distinctio expedita, ex accusamus nostrum modi, suscipit tenetur. Enim, error iste.</p>
            </div>

            
            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>adventures</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas nesciunt doloribus accusantium fuga sequi libero magnam magni fugiat voluptate distinctio expedita, ex accusamus nostrum modi, suscipit tenetur. Enim, error iste.</p>
            </div>

        </div>

    </section>


    
<script src="/scripts/script.js"></script>

</body>
</html>